.Chat-label{
    padding: 5px;
    margin: 5px;
    width: 200px;

    overflow-y: scroll;
    flex: 1;
}

.chat-mic-container {
    text-align: center;
    position: relative;
    font-size: 4px;
}

.chat-mic-container .gn {
    margin: 20px auto;
    width: 60px;
    height: 60px;
}

.Chat-div{
    flex: 1;
    background-color: #ffffff;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

.Message-div {
    border-radius: 10px;
}

.Message-content-author2{
    background-color: #f0f0f0;
    margin: 10px;
}
.Message-content-author1{
    background-color: #0066ff;
    color: white;
    margin: 10px;
}
.Message-style-author1{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.Message-style-author2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.Message-style-all {
    display: flex;
    border-radius: 6px;
    padding: 5px;
    margin: 3px;
}

.gn{
  position:relative;
  margin: 5% auto;
  border-radius:50%;
  width:10em; height:10em;
}
:before, :after{
  content:'';
  position:absolute;
  background-color:#fff;
}
.gn:after{
  top:30%; left:43%;
  height:15%; width:14%;
  border-top-left-radius:50%;
  border-top-right-radius:50%;
}
.gn:before{
  top:40%; left:43%;
  height:15%; width:14%;
  border-bottom-left-radius:50%;
  border-bottom-right-radius:50%;
}
.mc{
  position:absolute;
  top:50%; left:37%;
  height:24%;
  width:26.5%;
  overflow:hidden;
}
.mc:before{
  bottom:50%;
  width:100%; height:100%;
  box-sizing:border-box;
  border-radius:50%;
  border:0.5em solid #fff;
  background:none;
  left: 0;
}
.mc:after{
  top:50%; left:40%;
  width:20%; height:25%;
}

.microphone-active {
    background-color:#FE2222;
}
 
.microphone-inactive {
    background-color: #908a80;  
}